#AdminLogin {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#AdminLogin .title {
  margin-bottom: -30px;
}
#AdminLogin h1 {
  padding: 20px 15px;
  border-radius: 25px;
  display: inline;
}

#AdminLogin form {
  padding: 50px 20px 20px 20px;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

#AdminLogin .form-group {
  text-align: left;
}
#AdminLogin .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
